/* General Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  max-width: calc(100% - var(--scrollbar-width)); /* 스크롤바 두께만큼 보정 */
  max-width: 1400px;
  margin: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #ee532c;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ee532c;
}

/* Center Navigation Links */
.navbar-center {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-grow: 1;
}

.nav-link {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: #666;
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link.active {
  color: #ee532c;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 45%;
  left: 5%;
  height: 1px;
  background-color: #ee532c;
  margin: 0 auto;
  width: 90%;
}

.nav-link:hover {
  color: #ee532c;
}

.nav-link:hover::after {
  width: 90%;
}

/* 언어 Dropdown */
/* 아이콘 기본 상태 */
#languageDropdown i.fa-angle-down {
  color: #ee532c;
  transform: translateY(0) rotate(0deg);
  transition: color 0.3s ease, transform 0.3s ease;
}

#languageDropdown {
  display: flex;
  align-items: center; /* 세로 정렬 */
  justify-content: space-between;
  width: 110px;
  border-radius: 1.2rem;
  --bs-btn-padding-x: 1.2rem;
  z-index: 1000;
}

#languageDropdown::after {
  display: none; /* Bootstrap 기본 화살표 숨기기 */
}

#languageDropdown i.fa-angle-down {
  margin-left: auto; /* 아이콘을 오른쪽 끝으로 이동 */
  font-size: 1rem;
  color: #ee532c;
}

#languageDropdown:hover i.fa-angle-down {
  color: #fff;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  /* 드롭다운 메뉴가 펼쳐져있을때의 버튼 설정 */
  background-color: #ee532c;
  border-color: #ee532c;
}

.dropdown-menu {
  border: 1px solid #ee532c;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 드롭다운이 펼쳐졌을 때 */
.dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0;
}

#languageDropdown.show i.fa-angle-down {
  transform: translateY(1px) rotate(-180deg); /* 위치 보정 및 회전 */
  color: #ffffff; /* 흰색으로 변경 */
}

.language-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-item {
  color: #555;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center; /* 세로 정렬 */
  justify-content: space-between; /* 아이템 간 간격 자동 조정 */
  font-size: 0.85rem;
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item.active {
  color: #555;
  background-color: unset;
  display: flex;
  align-items: center;
}

.dropdown-item img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dropdown-item:hover,
.dropdown-item:hover.active {
  background-color: #e7e7e7;
}

.dropdown-item .active_lang {
  margin-left: auto; /* 왼쪽 여백으로 오른쪽으로 밀어냄 */
  color: rgb(23, 187, 23);
  font-size: 0.9rem;
  visibility: hidden;
}

/* 활성화된 경우 아이콘 표시 */
.dropdown-item.active .active_lang {
  visibility: visible;
}

/* 로그인 버튼 */
#auth-button {
  border-color: #ee532c;
  color: #ee532c;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#auth-button:hover {
  background-color: #ee532c;
  color: #fff;
}

.btn-outline-danger {
  border-color: #ee532c;
  color: #ee532c;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-danger:hover {
  background-color: #ee532c;
  color: #fff;
}

/* Flexbox Alignment */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.navbar-brand {
  justify-self: flex-start;
}

.navbar-center {
  justify-self: center;
}

.d-flex.align-items-center {
  justify-self: flex-end;
  gap: 1rem;
}
