.game-rules {
  background-color: #eee;
  padding: 2.5rem 3.5rem;
  z-index: 999;
  display: block;
  color: #555;
  font-size: 12px;
  border-radius: 2rem;
}

.game-rules-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #ee532c;
}

.game-rules p {
  font-size: 14px;
  margin-bottom: 10px;
}

.opponent-nickname-form {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.opponent-nickname-form label {
  font-size: 14px;
  font-weight: 600;
}

.opponent-nickname-form input {
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #888;
  transition: all 0.3s ease;
  width: 50%;
}

.form-input:focus {
  border-color: #ee532c;
  outline: none;
  color: #333;
}

.start-game-wrapper {
  text-align: right;
}

.start-game {
  padding: 0.65rem 2rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #666;
  color: #fff;
}

.start-game:hover {
  background-color: #ee532c;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

.game-container {
  position: relative !important;
}

.overlay {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);  /* 반투명한 검정색 배경 */
  z-index: 1000;
  display: none;  /*flexbox로 변경*/
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  font-size: 48px;
  text-align: center;
  border-radius: 2.5rem;
  margin: 0 auto;
  cursor: pointer;
  transition: opacity 0.3s ease;  /* 부드러운 전환 효과 */
}

.overlay.show {
  display: flex;
}

.pong-area {
  position: relative;
  display: none;
  z-index: 100;
  border-radius: 2.5rem;
  margin: 0 auto;
}

/* 승리/패배 메시지를 위한 스타일 */
.game-over {
  background-color: rgba(238, 83, 44, 0.8) !important;
}