/* 매치 히스토리 아코디언 */
#matchHistoryAccordion {
  background-color: #f9f9f9;
  margin-bottom: 30px;
}

#matchHistoryAccordion .accordion-item {
  border: 1px solid #ee532c;
}

#matchHistoryAccordion .accordion-button {
  color: #fff;
  background-color: #ee532c;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-accordion-btn-padding-x: 2.7rem;
  --bs-accordion-btn-padding-y: 2rem;
}

#matchHistoryAccordion .accordion-button::after {
  display: none; /* 부트스트랩 기본 화살표 아이콘 제거 */
}

#matchHistoryAccordion .accordion-button i {
  font-size: 1.2rem;
  transition: transform 0.3s ease; /* 회전 애니메이션 */
}

#matchHistoryAccordion .accordion-button.collapsed i {
  transform: rotate(-180deg); /* 닫혔을 때 아이콘 회전 */
}

#matchHistoryAccordion .accordion-body {
  padding: 3rem 4rem;
  background-color: #fff;
  border-radius: 1.8rem;
}

/* match-stats 스타일 */
.match-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  gap: 1rem; /* 카드 간의 간격 */
}

.match-stats .card {
  position: relative;
  text-align: center;
  width: 23%;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.3rem;
  background-color: #f2f2f2;
}

.match-stats .card .card-body {
  padding: 1.6rem 1rem 3.5rem 1rem;
  position: relative;
}

.match-stats .card .stat-label {
  position: absolute;
  bottom: 0px; /* stat-value의 밑면에 겹치도록 조정 */
  left: 50%; /* 가운데 정렬 */
  width: 100%;
  transform: translateX(-50%); /* 가운데 정렬 */
  background-color: #fff;
  color: #ee532c;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.4rem 0.5rem;
  border-radius: 0 0 1.3rem 1.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.match-stats .card .stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: #ee532c;
}

/* 매치 리스트 스타일 */
.match-list {
  margin-top: 2rem;
}

.match-list .match-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  border: 1px solid #eee;
  border-radius: 1.3rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.match-list .match-item .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ee532c;
}

.match-list .match-item .match-info {
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.match-list .match-item .match-info .matchlist-user {
  line-height: 88.79px;
  font-weight: 500;
}

.match-list .match-item .match-info .match-score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 6px 0; */
}
.match-list .match-item .match-info .date-badge {
  display: inline-block;
  background-color: #ee532c;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1.3rem;
}

.match-list .match-item .match-info .score {
  display: block;
  background-color: #666;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.score.win {
  color: green;
}
.score.loss {
  color: red;
}
.score.draw {
  color: gray;
}

