.overlay {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1000;
      display: none;
      align-items: flex-start;
      justify-content: center;
      padding: 20px;
      color: black;
      font-size: 48px;
      text-align: center;
}

.pong-area {
    position: relative;
    display: none;
    z-index: 100;
}

.game-rules {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999; /* 네비게이션바 z-index가 1000이라서 999로 변경 */
    display: block;
    padding: 20px;
    color: black;
    font-size: 12px;
}