# macOS
.DS_Store
.AppleDouble
.LOverrides

# Windows
Thumbs.db
desktop.ini

# Visual Studio Code
.vscode/
*.code-workspace

# Node.js
node_modules/

# Frontend
dist/
build/

# env
.env

# backend
__pycache__/
*.pyc

# package or venv
*.egg-info/
*.egg
env/
venv/
pip-log.txt

# Migration
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__pycache__/

# vault
unseal_key.txt
root_token.txt
init-output.txt
initialized
volumes/vault/file/
volumes/vault/logs/