@import "./Global.scss";

#dashMatchHistory {
  --bs-accordion-bg: #FAFAFA;
  --bs-accordion-body-padding-x: 3rem;
  --bs-accordion-body-padding-y: 3.5rem;

  .accordion-item {
    border: 1px solid #EE532C;
  }

  .accordion-button {
    color: #fff;
    --bs-accordion-active-bg: #f2f2f2;
    color: #fff;
    background-color: #EE532C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;

    &::after {
      display: none; /* 기본 화살표 제거 */
    }
  }
  
  .accordion-icon {
    font-size: 1.2rem;
    color: #fff;
    transition: transform 0.3s ease; /* 회전 애니메이션 */
  }
  
  .accordion-icon.rotated {
    transform: rotate(-180deg);
  }
  
  .match-history {
    p {
      margin: 0;
      padding: 5px 0;
    }
  }

  /* 경기 통계 스타일 */
  .match-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    .stat-box {
      border: none;
      border-radius: 15px; /* 둥근 모서리 */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
      text-align: center;
      overflow: hidden; /* 요소가 박스를 넘지 않도록 설정 */
      flex: 1;
      margin: 0 10px;

      .stat-number-section {
        background-color: #eee;
        padding: 10px;
      }

      .stat-text-section {
        background-color: #fff;
        padding: 10px;
      }

      .stat-number {
        font-size: 2.5rem; /* 숫자의 크기 키우기 */
        font-weight: bold;
        color: #ee532c; /* 강조 색상 */
      }

      .stat-label {
        font-size: 1.1rem; /* 텍스트 크기 조정 */
        color: #ee532c;
        font-weight: 500;
        font-size: .8rem;
      }
    }

    .stat-box:first-child {
      margin-left: 0;
    }
  
    .stat-box:last-child {
      margin-right: 0;
    }
  }

  /* 매치 결과 리스트 스타일 */
  .match-history-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  
    .match-history-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 20px;
      padding: 20px 50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      .match-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .left-avatar {
        margin-right: 20px; /* 프로필 사진과 닉네임 사이 간격 */
      }
  
      .right-avatar {
        margin-left: 20px; /* 프로필 사진과 닉네임 사이 간격 */
      }
  
      .match-user {
        font-size: 1rem;
        font-weight: bold;
      }
  
      .left-user {
        margin-right: auto; /* 왼쪽 프로필과 닉네임 간격 유지 */
      }
  
      .right-user {
        margin-left: auto; /* 오른쪽 프로필과 닉네임 간격 유지 */
      }
  
      .match-detail {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 6px;
  
        .match-date {
          background-color: #ee532c;
          color: #fff;
          padding: 5px 10px;
          border-radius: 1rem;
          font-size: 0.7rem;
        }
  
        .match-score {
          font-size: 1.5rem;
          font-weight: bold;
          background-color: #444;
          color: #fff;
          padding: 5px 20px;
          border-radius: 1.5rem;
        }
      }
    }
  }  
}
