@import "./Global.scss";

#FixedNavBar {
    background-color: rgba(255, 255, 255, 0.8);

    .navbar-brand {
        color: #EE532C;
        font: 1.2em #{$en-font};
        font-weight: 500;
        letter-spacing: -0.06em;
    }

    .extended-strikethrough {
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -10%;
            right: 14%;
            height: 1px; 
            background-color: #EE532C;
            transform: translateY(-50%);
        }
    }

    .nav-link {
        color: #555;
        font: 0.9em #{$en-font};
        letter-spacing: -0.05em;

        &:hover {
            color: #EE532C;
        }

        &.active {
            @extend .extended-strikethrough;
        }
    }

    .px-3 {
        padding-right: 1.6rem !important;
        padding-left: 1.6rem !important;
    }

    .NavLogin {
        color: #EE532C;
        border-radius: .8rem;
        border: .03rem solid #EE532C;
        margin-left: .9rem;
        font-size: .8rem;

        &:hover {
            color: #fff;
            background-color: #EE532C;
            transition : color .2s ease-in-out,background-color .4s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
        }
    }

    .NavLang .btn {
        font-size: 0.8rem;
        color: #EE532C;
        --bs-btn-border-radius: 0.8rem;
        padding-top: .425rem;
        padding-bottom: .425rem;
        transition : color .15s ease-in-out, background-color .4s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #EE532C;
            border-color: #EE532C;
        }
    }
    
    .NavLang .btn-secondary {
        --bs-btn-bg: none;
        border: .03rem solid #EE532C;
        --bs-btn-hover-bg: #EE532C;
        --bs-btn-active-bg: #EE532C;
        --bs-btn-padding-x: 1.2rem;
    }

    .dropdown-toggle::after {
        margin-left: .5em
    }
}
