// 글로벌 스타일 설정

// 한글과 영문 폰트 설정
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$ko-font: 'Noto Sans KR', sans-serif;
$en-font: 'Roboto Mono', monospace;

// Bootstrap 변수 덮어쓰기
:root {
  --bs-body-font-family: #{$ko-font}, #{$en-font};  // 기본 폰트를 여러 폰트로 변경
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #4b4b4b;  // 기본 텍스트 색상 변경
  --bs-body-bg: #fff;  // 기본 배경 색상 변경
}

// 글로벌 폰트 설정
// body {
//   font-family: var(--bs-body-font-family);
//   font-size: var(--bs-body-font-size);
//   font-weight: var(--bs-body-font-weight);
//   line-height: var(--bs-body-line-height);
//   color: var(--bs-body-color);
//   background-color: var(--bs-body-bg);
// }

html {
  scrollbar-gutter: stable;
}